<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Portfólio</title>
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="home">
        <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
        <a href="mailto:oi@rocketseat.com.br">Email</a>
        <a href="tel:+5547992078767">Telefone</a>
      </div>
    </header>

    <div id="wrapper">
      <img src="../images/perfil.png" alt="" />

      <h1>Johnny Jefferson</h1>
      <h2>Front-end Developer</h2>
      <p>
        Programador Front end, focado na melhor performa do cliente. Atualmente
        trabalhando na
        <a href="https//google.com" target="_blank"
          >Academia Militar das Agulhas Negras</a
        >
      </p>
    </div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
