@import 'https://fonts.googleapis.com/css2? family = Roboto: wght @ 300; 400; 500 & display = swap';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282a36;
}

header {
  padding: 32px;
  border-bottom: 2px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

header div {
  text-align: center;
}
header div a {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

header div a:hover {
  color: #50af7b;
  transition: color 700ms;
}
