<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/modal-overlay.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Aulas</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <header>
      <div class="links">
        <a href="index.html">Sobre</a>
        <a href="classes.html">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <h1>Aulas</h1>
    </div>

    <section class="cards" id="RN_aQnrqwXw">
      <div class="card">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/RN_aQnrqwXw/mqdefault.jpg"
            alt=""
            Pastor
            Lucinho
          />
        </div>
        <div class="card__content">
          <p>Converta-se a Alguém</p>
        </div>
        <div class="card_inf">
          <p>9:32min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>

      <div class="card" id="F6-4nuNVyKU">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/F6-4nuNVyKU/mqdefault.jpg"
            alt="Pastor Lucinho"
          />
        </div>
        <div class="card__content">
          <p>Não Siga Essas Receitas para Morrer</p>
        </div>
        <div class="card_inf">
          <p>6:58min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>

      <div class="card" id="qCGMZptCy_c">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/qCGMZptCy_c/mqdefault.jpg"
            alt="Pastor Lucinho"
          />
        </div>
        <div class="card__content">
          <p>Sacrifícios sem Valor</p>
        </div>
        <div class="card_inf">
          <p>8:41min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>

      <div class="card" id="IrNbhyt9mVU">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/IrNbhyt9mVU/mqdefault.jpg"
            alt="Pastor Lucinho"
          />
        </div>
        <div class="card__content">
          <p>Um Fracasso não é o Fim</p>
        </div>
        <div class="card_inf">
          <p>6:37min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>

      <div class="card" id="vR-Mj62i0_g">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/vR-Mj62i0_g/mqdefault.jpg"
            alt="Pastor Lucinho"
          />
        </div>
        <div class="card__content">
          <p>Tomando Decisões Pensando na Eternidade</p>
        </div>
        <div class="card_inf">
          <p>5:41min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>

      <div class="card" id="VPxO9CcWmQU">
        <div class="card__image_containner">
          <img
            src="https://img.youtube.com/vi/VPxO9CcWmQU/mqdefault.jpg"
            alt="Pastor Lucinho"
          />
        </div>
        <div class="card__content">
          <p>A Coisa que o Ser Humano Mais Detesta: ESPERAR!</p>
        </div>
        <div class="card_inf">
          <p>7:19min</p>
          <p class="card__prime">Free</p>
        </div>
      </div>
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <span class="material-icons"> close</span>
        </a>
        <div class="modal-content">
          <!-- video aqui  -->
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <script src="./js/scripts.js"></script>
  </body>
</html>
