<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="stylesheet" href="../public/styles/cards.css" />
    <script src="./js/scripts.js"></script>

    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <title>Foodfy | Desafio</title>
  </head>

  <body>
    <div class="content">
      <header>
        <div>
          <div class="menus">
            <img src="../public/assets/logo.p ng" alt="logo" />
            <a href="">Sobre</a>
            <a href="revenue.html">Receitas</a>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
