@import 'https://fonts.googleapis.com/css2? family = Roboto + Slab: wght @ 600; 900 & display = swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap';
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 32px 220px;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menus {
}

.menus a {
  text-decoration: none;
  font-size: 16px;
  color: #111111;
}

#text-principal {
  border-radius: 30px;
  margin: 0 auto;
  background: #fbdfdb 100%;
  max-width: 940px;
  height: 366px;
  position: relative;
}

.image-principal img {
  position: absolute;
  right: 0;
  margin-top: 65px;
  margin-right: 50px;
}

/* CARDE MAIS ACESSADOS */

h2 {
  font-size: 18px;
}
.inf p {
  font-size: 14px;
  color: #777777;
}

.cards {
  max-width: 940px;
  height: 140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
}

.card__imge__content img {
  border-radius: 30px;
  width: 100%;
}

footer {
  background-color: #eeeeee;
  opacity: 100%;
  width: 100%;
  margin-top: 380px;
  padding: 25px;
  position: absolute;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #999999;
}
