@import 'https://fonts.googleapis.com/css2? family = Roboto + Slab: wght @ 600; 900 & display = swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700&display=swap';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-bar-home {
  padding: 32px;
}
.wrapper {
  max-width: 952px;
}

header {
  margin: 0 auto;
  position: relative;
}

.caixa-aviso {
  background-color: rebeccapurple;
  margin: 0 auto;
  align-items: center;
  width: 940px;
}

.caixa-aviso img {
  margin-top: 66px;
  width: 216px;
  height: 300px;
}

#acess {
  display: block;
  width: 100%;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 24px;
  padding: 20px 50px;
  color: #111111;
  background-color: rebeccapurple;
  text-align: center;
}

/* CARDS */
.cards {
  max-width: 952px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card img {
  width: 100%;
  border-radius: 15px;
}

/* FOOTER */
footer {
  background-color: #eeeeee;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

footer p {
  color: #999999;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 14px;
}
