<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <title>Foodfy | Desafio</title>
  </head>
  <body>
    <header>
      <div class="home">
        <img src="../public/assets/logo.png" alt="logo" />
        <a href="">Sobre</a>
        <a href="">Receitas</a>
      </div>
    </header>
    <!-- PRINCIPAL PAINEL - AS MELHORES RECEITAS -->
    <main id="text-principal">
      <div class="caixa-aviso">
        <div class="image-principal">
          <img src="../public/assets/chef.png" alt="chef" />
        </div>
        <div class="text">
          <h1>As melhores receitas</h1>
          <p>
            Aprenda a construir os melhores pratos com receitas criandas por
            prifissionais do mundo inteiro.
          </p>
        </div>
      </div>
    </main>

    <!-- SECTION - MAIS ACESSADAS -->

    <section>
      <div class="cads">
        <h1>Mais acessadas</h1>
        <div class="cad"></div>
      </div>
    </section>

    <script src="./js/scripts.js"></script>
  </body>
</html>
