<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="stylesheet" href="../public/styles/cards.css" />
    <script src="./js/scripts.js"></script>
    <title>Foodfy | Desafio</title>
  </head>

  <body>
    <header class="wrapper">
      <div class="nav-bar-home">
        <img src="../public/assets/logo.png" alt="logo" />
        <a href="about.html">Sobre</a>
        <a href="revenue.html">Receitas</a>
      </div>

      <div class="caixa-aviso">
        <img src="../public/assets/chef.png" alt="chef" />

        <div class="text">
          <h2>As melhores receitas</h2>
          <p>
            Aprenda a construir os melhores pratos com receitas criandas por
            prifissionais do mundo inteiro.
          </p>
        </div>
      </div>
    </header>

    <h2 id="acess">Mais acessadas</h2>

    <section class="cards">
      <!-- cards -->
      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

      <div class="card">
        <img src="../public/assets/asinhas.png" alt="" />
        <div class="info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
  </body>
</html>
