<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="stylesheet" href="../public/styles/revenue.css" />
    <script src="./js/scripts.js"></script>

    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <title>Foodfy | Desafio</title>
  </head>

  <body class="content">
    <header>
      <div>
        <div class="menus">
          <img src="../public/assets/logo.png" alt="logo" />
          <a href="#">Sobre</a>
          <a href="./revenue.html">Receitas</a>
        </div>
      </div>
    </header>

    <section>
      <h1>Mais acessadas</h1>

      <div class="cards">
        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/asinhas.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/burger.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/espaguete.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/lasanha.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/doce.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>

        <div class="card">
          <div class="card__imge__content">
            <img src="../public/assets/pizza.png" alt="" />
          </div>
          <div class="card__content">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <card class="inf">
            <p>por Vania Steroski</p>
          </card>
        </div>
      </div>
    </section>
    <div class="modal-overley">
      <div class="modal">
        <a class="close-modal">
          <span class="material-icons"> close </span>
        </a>
        <a class="maximize-modal">
          <i class="material-icons">open_in_full</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
  </body>
</html>
