@import 'https://fonts.googleapis.com/css2? family = Roboto: wght @ 300; 400; 500 & display = swap';

/* para criar variavel de seletores, facilitanto o código e as alteraçõe a serem feitos */
:root {
  --color-green: #0de46d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282a36;
}

header {
  padding: 30px;
  border-bottom: 2px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}
.links a {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

.links a:hover {
  color: #50af7b;
  transition: color 700ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 200px;
  border: solid #0de46d;
  margin-bottom: 32px;
  width: 150px;
}

#wrapper h1 {
  color: #0de46d;
  opacity: 0.7;
  font-size: 42px;
  line-height: 52px;
  border-bottom: 3px solid aliceblue;

  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  margin-top: 8px;
  font-family: 'Times New Roman', Times, serif;
}

#wrapper p {
  width: 500px;
  margin: 20px auto;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper p a {
  text-decoration: none;
  color: #0de46d;
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
}

.tecnologias {
  width: 500px;
  margin: 20px auto;
  color: aliceblue;
  text-align: justify;
  margin-top: -40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
